@font-face {
    font-family: agba;
    src: url(./fonts/Argon_Regular1.otf);
}

@font-face {
    font-family: Dom;
    src: url(./fonts/Domine-VariableFont_wght.ttf);
}

@font-face {
    font-family: jhm;
    src: url(./fonts/JMH\ Typewriter\ \(1\).ttf)
}

.main {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(images/top\ cosy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 200px;
    overflow-x: hidden;


}
.text {
    line-height: 6rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.text h1 {
    font-size: 350%;
    font-family: jhm;
    color: yellow;

}

.text h2 {
    font-size: 200%;
    line-height: 6rem;
}


.text p {
    font-size: 100%;
    font-family: Dom;
    line-height: 6rem;
    
}
#first-issue{
    max-width: 25rem;
    min-height: 10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius:10rem ;
    transition: 0.6s ease-out;
}
#first-issue:hover{
    transform: scale(1.1);

}
.issue{
    display: flex;
    gap: 10rem;
    text-align: justify;
    justify-content: center;

}
.issue-two-two{
    display: flex;
    gap: 10rem;
    text-align: justify;
    justify-content: center;

}
.issue-three-three{
    display: flex;
    gap: 10rem;
    text-align: justify;
    justify-content: center;

}
.issue-four{
    display: flex;
    gap: 10rem;
    text-align: justify;
    justify-content: center;

}



.text-one{
   justify-content: center;
    padding-top:10rem;
    width: 40%;
    margin-bottom: 10rem;
}


.text-one h2 {
    font-size: 180%;
    color: yellow;
    text-align: center;
}


.text-one p {
    font-size: 110%;
    font-family: Dom;
    line-height: 1.7;  
}
.text-two{
    justify-content: center;
     padding-top: 10rem;
     width: 40%;
     margin-bottom: 10rem;
 }
 
 
 .text-two h2 {
     font-size: 180%;
     color: yellow;
     text-align: center;
 }
 
 
 .text-two p {
     font-size: 110%;
     font-family: Dom;
     line-height: 1.7;  
 }
 #sec-issue{
    max-width: 27rem;
    min-height: 35rem;
    border-top-left-radius: 10rem;
    border-top-right-radius:10rem ;
    padding-top: 5rem;
    transition: 0.6s ease-out;

}
#sec-issue:hover{
    transform: scale(1.1);
}
.text-three{
    justify-content: center;
     padding-top:10rem;
     width: 40%;
     margin-bottom: 10rem;
 }
 
 
 .text-three h2 {
     font-size: 180%;
     color: yellow;
     text-align: center;
 }
 
 
 .text-three p {
     font-size: 110%;
     font-family: Dom;
     line-height: 1.7;  
 }
 #three-issue{
    max-width: 27rem;
    min-height: 10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius:10rem ;
    padding-top: rem;
    transition: 0.6s ease-out;

}
#three-issue:hover{
    transform: scale(1.1);
}
.navigation-bar {
    
    justify-content: center;

       text-decoration: none;
    
    background-color: #141414;
    
    border-radius: 80px;
    

}


.navigation-bar a {
    float: left;
    display: block;
    text-align: center;

}
#home {
    text-decoration: none;
    padding: 30px;
    color: rgb(235, 174, 134);
    font-size: 100%;
    font-family: Dom;
    justify-content: center;
}





@media only screen and (max-width:768px) {


.main {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(images/top\ cosy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    overflow-x: hidden;


}
.text {
    line-height: 4rem;
    
}

.text h1 {
    font-size: 30px;
    font-family: jhm;
    color: yellow;


}

.text h2 {
    font-size: 80%;
    line-height: 5rem;
}


.text p {
    font-size: 100%;
    font-family: Dom;
    line-height: 6rem;
    
}
#first-issue{
    display: none;
    /* max-width: 300px;
    min-height: 00px;
    

    padding-left: 11%;
    margin-top: -29%;
    border-top-right-radius:4rem ;
    border-top-left-radius: 7rem;
    transition: 0.6s ease-out; */
}
#first-issue:hover{
    transform: scale(1.1);

}
.issue{
    flex-direction: column;
    gap: 10rem;
    text-align: justify;
    justify-content: center;
    margin-top: -100px;

}
.issue-two-two{
    flex-direction: column;
    gap: 10rem;
    text-align: justify;
    justify-content: center;
    margin-top:-400px;

}
.issue-three-three{
    
    
    text-align: justify;
    justify-content: center;
    margin-top: -120px;

}
.issue-four{
    flex-direction: column;
    gap: 10rem;
    text-align: justify;
    justify-content: center;
    margin-top: -200px;

}



.text-one{
   justify-content: center;
    margin-top: -130px;;
    width: 95%;
    margin-bottom: 10rem;
}


.text-one h2 {
    font-size: 150%;
    color: yellow;
    text-align: center;
}


.text-one p {
    font-size: 110%;
    font-family: Dom;
    line-height: 1.7;  
}
.text-two{
    justify-content: center;
    
     width: 90%;
     padding-top: -300px;
     
     padding-left: 2%;
 }
 
 
 .text-two h2 {
     font-size: 180%;
     color: yellow;
     text-align: center;
     padding-top: -50px;
 }
 
 
 .text-two p {
     font-size: 110%;
     font-family: Dom;
     line-height: 1.7;  
 }
 #sec-issue{
    /* max-width: 27rem;
    min-height: 35rem;
    border-top-left-radius: 10rem;
    border-top-right-radius:10rem ;
    padding-top: 5rem;
   
    transition: 0.6s ease-out; */
    display: none;

}
#sec-issue:hover{
    transform: scale(1.1);
}
.text-three{
    justify-content: center;
     padding-top:10rem;
     width: 90%;
     padding-left: 2%;
     margin-bottom: 10rem;
 }
 
 
 .text-three h2 {
     font-size: 180%;
     color: yellow;
     text-align: center;
 }
 
 
 .text-three p {
     font-size: 110%;
     font-family: Dom;
     line-height: 1.7;  
     text-align: justify;
 }
 #three-issue{
    max-width: 27rem;
    min-height: 10rem;
    border-top-left-radius: 10rem;
    border-top-right-radius:10rem ;
    padding-top: rem;
    transition: 0.6s ease-out;
    display: none;

}
#three-issue:hover{
    transform: scale(1.1);
}
.navigation-bar {
    
    justify-content: center;

       text-decoration: none;
    
    background-color: #141414;
    
    border-radius: 80px;
    

}


.navigation-bar a {
    float: left;
    display: block;
    text-align: center;

}
#home {
    text-decoration: none;
    padding: 30px;
    color: rgb(235, 174, 134);
    font-size: 100%;
    font-family: Dom;
    justify-content: center;
}


 
 


}