@font-face {
    font-family: wid;
    src: url(fonts/wid.ttf);
}
body{
    margin: 0 auto;
}
.both-books{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/2b484b8f2dca0a3432a006851ba43b34.jpg);
    background-size: 100vw 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    color: white;
    overflow: hidden;
    font-family: wid;
    font-size: 150%;
    padding-left: 35%;
    /* align-items: center; */
} 

  .book-content {
    display: flex;
    align-items: center;
    gap: 5%;
    position: relative;
  }
  #how-to-win-book{
    margin-left: 20%;
  }
  .book img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-top: -8%;
  }
  .quotes {
    border: none;
    width: 10vw;
    max-width: 400px;
    font-size: 18px;
    font-style: italic;
  }
  .slide, .slide2 {
    display: none;
  }


.born-a-crime img{
    width: 13vw;
} 
.how-to-win img{
    width: 13vw;
    margin-top: 105%;
} 
nav{
    display: flex;
    border: 1px solid rgb(61, 82, 75);
    background-color: rgb(61, 82, 75);
    border-radius: 55px;
    height: 7vh;
    align-items: center;
    gap: 5%;
    width: 25vw;
    margin-top: -8%;
    justify-content: center;
    margin-left: 40%;
    font-family: wid;
    font-size: 120%;
}
nav a{
    color: white;
    text-decoration: none;
}
.slide, .slide2 {
    display: none;
    font-style: italic;
    margin-top: -5%;
    font-size: 18px;
    position: absolute;
    width: 25vw;
    text-align: center;
  }