@font-face {
    font-family: wid;
    src: url(fonts/wid.ttf);
}
@font-face {
    font-family: zeyada;
    src: url(fonts/Zeyada-Regular.ttf);
}
@font-face {
    font-family: kurale;
    src: url(fonts/Kurale/Kurale-Regular.ttf);
}
body{
    overflow-x: hidden;
    margin: 0 auto;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/Serenity\ in\ Grey\ Canvas\ -\ 60\ x\ 60\ cm.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.cover-book{
    padding:0.5em 26em;
}
.cover-book img{
    width: 50vw;
    height: 55vh;
    border-radius: 15px;
}
.blog{
    color: white;
    text-align: center;
    font-family: zeyada;
    font-size: 250%;
}
.all-slider {
    display: flex;
    /* width: 100%; */
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    gap: 5%;
    margin-bottom: 5em;
    /* padding: 20px 0; */
  }
  .slide-track {
    display: flex;
    /* width: calc(200% + 5% * 9); Total width for 10 images with 9 gaps */
    animation: scroll 20s linear infinite;
    gap: 5%;
  }
  .slide-track img {
    /* flex: 0 0 auto; */
    flex-shrink: 0;
    width: auto;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 8px;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  nav{
    /* margin: 0 auto; */
    display: flex;
    background-color: rgb(184, 177, 144);
    position: sticky;
    top: 0%;
    z-index: 1000;
    /* margin-bottom: 5em; */
    width: 100vw;
    height: 5vh;
    gap: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
        font-family: wid;
    }
}
.icon-link{
    display: block;
}
.name-for-book{
    font-family: kurale;
    display: flex;
    gap: 5em;
}
.mama{
    font-family: kurale;
    font-size: 260%;
    text-align: center;
}
.name-for-book img{
    margin-left: 8em;
    width: 19vw;
}
.name-for-book p{
    width: 56vw;
    text-align: center;
    background-color: rgb(183, 219, 192);
    font-size: 150%;
    margin-top: 3.5em;
    padding: 3em;
}